<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sistema de inventario de biblioteca</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
		rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link href="css/stylo.css" rel="stylesheet">

</head>
<body>

	<!--........... se realiza la consulta para obtener los datos del nuevo ingreso
 ................</!-->
 <div class="box-body">
 						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th> # </th>
									<th> Nombre </th>
									<th> Rut</th>
									<th> Campus</th>
									<th class="td-actions"> Acciones </th>
								</tr>
							</thead>
							<tbody>
								{% for usuario in usuarios %}
								<tr>

									<td> {{ usuario.idusuario }}</td>
									<td> {{ usuario.nombre }}</td>
									<td> {{ usuario.rut }} </td>
									<td> {{ usuario.id_cam }}</td>
									<td class="td-actions"> <a href="download/tarea1.xlsx" download="ocumentati.txt" class="btn btn-small btn-success">Exc</a>
										<a href="pdf/index.html" class="btn btn-danger btn-small" target="_blank">pdf</a> <a href="pdf/indexr.html" class="btn btn-danger btn-small" target="_blank">pdf resumen</a>  <a href="agregar.html" class="btn btn-primary btn-small">Edit<i class="btn-icon-only icon-remove"> </i> </a>   </td>

								</tr>
									{% endfor %}

					
						</tbody>
					</table>
			</div>
							{% for usuario in usuarios %}
									<a href="{% url 'update_usuario' usuario.idusuario %}">
											<li> {{ usuario.nombre }}</li>
											<li> {{ usuario.rut }}</li>
									</a>
									{% endfor %}

	<ul>
			{% for usuario in usuarios %}
					<a href="{% url 'update_usuario' usuario.idusuario %}">
							<li> {{ usuario.nombre }}</li>
							<li> {{ usuario.rut }}</li>
					</a>
			{% endfor %}
	</ul>
						<!--............ se crea un nuevo producto dentro de la bd................</!-->
	<a href="{% url 'create_usuario' %}">Crear usuario</a>
</body>
</html>
