<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sistema de inventario de biblioteca</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
	rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/stylo.cs">


	<!-- data table	-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>


</head>
<body>
	<nav class="navbar navbar-expand-lg  navbar-dark bg-dark " style="background-color:#212529;">
		<a class="navbar-brand" href="index.html">ODIN</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse ml-autoedit" id="navbarNavDropdown">
			<ul class="navbar-nav  ">

				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						José licancura
						<!-- estos son datos de usuario que se rescatarán una vez logueado el user  -->
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Editar perfil</a>
						<a class="dropdown-item" href="#">Ver historial</a>
						<a class="dropdown-item" href="#">Cerrar sessión</a>
					</div>
				</li>
			</ul>

		</div>
	</nav>
	<!-- /navbar -->
	<div class="subnavbar">
		<div class="subnavbar-inner">

			<!-- /container -->
		</div>
		<!-- /subnavbar-inner -->
	</div>
	<!-- /subnavbar -->
	<div class="main">
		<br>
		<div class="row col-sm-offset-1">
			<div class="col-sm-11">
				<a href="{% url 'create_libros' %}" class="tn btn btn-info"><i class="glyphicon glyphicon"></i>Crear inventario</a>
				<a href="graficos.html"  class="tn btn btn-success"><i class="glyphicon glyphicon-eye-sign"> </i> Ver gráficos estadísticos</a>

			</div>
		</div>
		<br>
		<div class="row box box-info col-sm-offset-1 ">
			<div class="col-sm-11">

				<div class="widget widget-table action-table" >
					<div class="widget-header"> <i class="icon-th-list"></i>
						<h3>Inventarios</h3>
					</div>
					<!-- /widget-header -->
					<!-- mockup de interfáz de usuario  -->
					<div class="box-body">
				  						<table class="table table-striped table-bordered" id="datatables-example">
				 							<thead>
				 								<tr>
				 									<th> # </th>
				 									<th> Nombre </th>
				 									<th> Fecha inicio</th>
				 									<th> Fecha termino</th>
													<th> Fecha informe</th>
													<th class="td-actions"> Ediciones </th>
				 									<th class="td-actions"> Acciones </th>
				 								</tr>
				 							</thead>
				 							<tbody>
				 								{% for inventario in inventarios %}
				 								<tr>

				 									<td> {{ inventario.idinventario }}</td>
				 									<td> {{ inventario.nombre_inventario }}</td>
				 									<td> {{ inventario.f_inicio }} </td>
				 									<td> {{ inventario.f_termino }}</td>
													<td> {{ inventario.f_informe }}</td>
													<td class="td-actions">
				 										<a href="{% url 'libro_edit' inventario.idinventario %}" class="btn btn-primary btn-small">Libros<i class="btn-icon-only icon-remove"> </i> </a>
														<a href="{% url 'issue_edit' inventario.idinventario %}" class="btn btn-primary btn-small">Issue<i class="btn-icon-only icon-remove"> </i> </a>
														<a href="{% url 'resp_edit' inventario.idinventario %}" class="btn btn-primary btn-small">Resp<i class="btn-icon-only icon-remove"> </i> </a>
														<a href="{% url 'cd_edit' inventario.idinventario %}" class="btn btn-primary btn-small">Cd<i class="btn-icon-only icon-remove"> </i> </a>
														<a href="{% url 'inventario_edit' inventario.idinventario %}" class="btn btn-primary btn-small">Inventario<i class="btn-icon-only icon-remove"> </i></a></td>
													 </td>
				 									<td class="td-actions">
														<a href="download/tarea1.xlsx" download="ocumentati.txt" class="btn btn-small btn-success">Exc</a>
				 										<a href="{% url 'generar_pdf'  inventario.idinventario %}"class="btn btn-danger btn-small">pdf</a>
														<a href="{% url 'generar_pdf_resumen' inventario.idinventario %}" class="btn btn-danger btn-small" target="_blank">pdf resumen</a>


				 								</tr>
				 									{% endfor %}


				 						</tbody>
				 					</table>
					<!-- /widget-content -->
				</div>

			</div><!--/tab-content-->

		</div><!--/col-9-->
		<!-- /container -->
	</div>
	<!-- /main-inner -->
</div>
<!-- /main -->

</div>
<!-- /extra -->
<div class="footer">
	<div class="footer-inner">
		<div class="container">
			<div class="row">
				<div class="span12"> &copy; 2019 <a href="#">Odin</a>. </div>
				<!-- /span12 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /footer-inner -->
</div>
<!-- /footer -->
<script src="js/jquery/dist/jquery.min.js"></script>
<script src="js/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="js/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--data table-->

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script type="text/javascript" src="jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatables-example').dataTable( {
				"sProcessing":     "Procesando...",
	     "sLengthMenu":     "Mostrar _MENU_ registros",
	     "sZeroRecords":    "No se encontraron resultados",
	     "sEmptyTable":     "Ningún dato disponible en esta tabla",
	     "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	     "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	     "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	     "sInfoPostFix":    "",
	     "sSearch":         "Buscar:",
	     "sUrl":            "",
	     "sInfoThousands":  ",",
	     "sLoadingRecords": "Cargando...",
	     "oPaginate": {
	         "sFirst":    "Primero",
	         "sLast":     "Último",
	         "sNext":     "Siguiente",
	         "sPrevious": "Anterior"
	     },
	     "oAria": {
	         "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
	         "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	     }



        } );
    } );
</script>

</body>
</html>
